section.o-blogText.-padMdBottom

 .a-border.-padBgBottom.-ContainerBlog#aboutBlog
  .-borderBottom

 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Breve autobiografía
  .m-textContent__text
   p Me llamo Iskra, que se traduce como Chispa del Ruso. Nací en Maracay durante la década de los 70, viví mi juventud y parte de mi vida adulta en esta ciudad, muy cercana a la capital de Venezuela.  Maracay es un valle rodeado por montañas y playas, parte de ellas dentro de un Parque Nacional. Durante toda mi niñez y juventud fui deportista, practiqué varias disciplinas, pero la práctica del Surf con Bodyboard y el Senderismo de montaña, siempre fueron mis actividades favoritas.
   p Mi conexión con los temas filosóficos y espirituales se creó a muy temprana edad, fui bautizada católica, pero cuando tenía como 8 años mi padre, mi primer y gran maestro, me inscribió en un programa de preparación para iniciarme en la Orden Rosacruz a la que él asistía. Allí tuve mi primer acercamiento con enseñanzas filosóficas y espirituales, y se activó mi marcado interés por estos temas.
   p Tengo varias profesiones, soy Abogado con postgrado en Propiedad Intelectual e Internet, Experta en Franquicias y Organización Empresarial, Avaluador Inmobiliario e Industrial, Corredora Inmobiliaria, Paisajistas y Profesora de Yoga.  Siempre me ha gustado escribir y comunicar, sobre la Propiedad Intelectual y las Franquicias, he sido conferencista, escribí una columna de periódico dominical por varios años y produje un programa de radio semanal.
   p Actualmente vivo en Valencia, trabajo en equipo con mi esposo y mi hija que es estudiante de diseño y programación de paginas web.  Sigo asesorando en propiedad intelectual, franquicias y organización empresarial, aunque la situación económica de mi país y del COVID-19 han reducido notablemente las actividades en estas áreas.
   p Junto con mi esposo, que es Ingeniero Agrónomo especializado en Transferencia de Tecnologías y Dirección de Proyectos Agroecologicos, estoy trabajando también en la elaboración de un proyecto relacionado con Tecnologías Verdes enfocado en Agricultura Orgánica, Agrihood, Reciclaje y Energías Alternativas, creo que son de las áreas más importantes en que el Ser Humano debe enfocar sus esfuerzos en esta era.
   p Asimismo, pienso que es de vital importancia que todos nos encaminemos hacia el mejoramiento personal y el desarrollo de una ética social genuina, por eso mi labor de enseñanza y difusión del Yoga, ha sido otra de las actividades que en los últimos años ha ido ganando espacio en mi vida, y quiero seguir fortaleciendo esta actividad, de allí este sitio web y sus canales relacionados.
  .m-textContent__img.-md
   img.a-blogText__img(src=linksUrl[1]+"assets/img/doddles/girl_stand.png", alt="")

 .a-border.-padBgBottom.-padMdTop.-ContainerBlog#beginningBlog
  .-borderBottom

 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Cómo me inicié en el Yoga y la Meditación
  .m-textContent__text
   p Después de haberme sumergido por un tiempo en la cotidianidad del trabajo y la vida familiar, dejando en un tercer plano la parte espiritual, a los 30 años tuve la oportunidad de escuchar al maestro Prem Rawat.
   p Maharaji, como también se conoce a Prem Rawat, es un maestro hindú que promueve la Paz Interior por todo el mundo. Mi esposo y yo, escuchamos su mensaje durante varios meses, nos preparamos y recibimos lo que él llama el Conocimiento, que son 4 técnicas de meditación diarias.
  .m-textContent__img.-md
   img.a-blogText__img(src=linksUrl[1]+"assets/img/acerca_de/acerca_007.png")
  .m-textContent__text
   p Ya más conectada con la práctica de la meditación, adquirí un libro de Deepak Chopra titulado Las 7 Leyes Espirituales del Yoga , yo había leído en mi juventud, el bestseller Las 7 Leyes Espirituales del Éxito escrito por el mismo, y estuve practicando estas leyes por un buen tiempo con muy buenos resultados.
   p Con este nuevo libro de Chopra fue que descubrí el camino al estado consciente a través del Yoga.  Comencé a realizar a diario la práctica indicada en este libro, que incluye posturas, pranayamas (ejercicios de control respiratorio), bandhas (ejercicios de control de la energía) y meditación.
   p Me apasioné con el Yoga, las disciplinas físicas siempre me dieron mucho balance desde mi niñez, así que quería saber y entender más, pero como estaba en un período en donde mi actividad laboral estaba limitada al espacio físico de mi hogar, no podía salir mucho de casa, por lo que asistir con un profesor, a un centro o escuela de yoga me era difícil.  Me tocó entonces buscar la manera de estudiar y practicar en casa.
   p Después de estudiar las ofertas que había por Internet, compré un programa completo de Power Yoga de 108 días, "The Ultimate Yogi" del profesor Travis Eliot, que por cierto es excelente. Después de esos 108 días continuos haciendo el programa, no hubo vuelta atrás, la práctica de posturas de yoga se volvió realmente un hábito en mí.
   p Seguí estudiando y practicando por un tiempo con libros y videos de diferentes profesores y autores, algunos textos filosóficos y clásicos. Inició el boom de las redes sociales y comencé a registrar por Instagram mis avances con fotos y videos, y resultó que lo que compartía tenía una audiencia y retroalimentación considerables. Conecté por esta vía con muchas personas, la comunidad no era tan grande como hoy, pero sí que crecía rápidamente.
   p Por Instagram conseguí información de cursos y talleres de diferentes estilos. La mayoría de los fines de semanas asistía a los talleres presenciales que podía en Valencia, Maracay y en Caracas.

 .a-border.-padBgBottom.-padMdTop.-ContainerBlog#ashtangaBlog
  .-borderBottom

 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Cómo conseguí el Ashtanga Yoga
  .m-textContent__text
   p Con tanta información, llegué a un momento de saturación y confusión, comencé a sentir la necesidad de una mayor estructura y una sistemática en la práctica.
   p Durante esa búsqueda conecté con Kino Macgregor, ella se presentaba como estudiante y profesora autorizada de Ashtanga Yoga y parecía seguir una metodología bien estructurada y coherente en la práctica, y en ese momento estaba promocionando la primera edición de su libro "The Power of Ashtanga Yoga" y su video de la Primera Serie de Posturas.
   p Adquirí tanto el libro como el video de Kino, el día que hice por primera vez esta serie, al terminarla me brotaban lágrimas de felicidad de los ojos, era como cuando te reencuentras con un ser querido después de haber estados alejados por mucho tiempo. Experimentar la combinación claramente sincronizada de la respiración con los movimientos fue algo mágico.
   p Era el año 2013, decidí continuar profundizando en mi práctica sólo a través de este método, estudié y seguí las instrucciones minuciosamente que daba Kino Macgregor en su libro . Adquirí el libro del fundador del método, K. Pattabhi jois, titulado "Yoga Mala"; y de David Swenson, su libro titulado "Ashtanga Yoga. The Practice Manual". Todos los libros solo estaban disponibles en inglés en aquel entonces, afortunadamente no fue un impedimento para mí.
  .m-textContent__img.-md
   img.a-blogText__img(src=linksUrl[1]+"assets/img/acerca_de/acerca_006.png")
  .m-textContent__text
   p Al cabo de unos meses, como reza el adagio: "El maestro llega cuando el estudiante está preparado", aparecieron mis guías locales.
   p Resultó que en la ciudad de Valencia, había una comunidad de ashtangis liderada por dos practicantes que tenían varios años estudiando anualmente por temporadas con Kino Macgregor y Tim Feldman en Miami.  Ambas profesoras daban clases en ese momento en un local llamado Biokinesia. Allí las conocí.
   p De estas profesoras he recibido de manera directa la guía y las enseñanzas directas que me han ayudado a profundizar en mi práctica durante estos 7 años. Las enseñanzas de ambas profesoras me han nutrido extraordinariamente en diferentes momentos.
   p En mis inicio una de estas profesoras, la que yo considero mi primera profesora, me ayudó a entender los fundamentos de la práctica y la coherencia de la secuencia de las posturas de la Primera Serie del Ashtanga Yoga.
   p Y luego, mi segunda profesora, me ha orientado y lo sigue haciendo, en la profundización de cada postura tanto de la Primera como de la Segunda Serie, en las modificaciones cuando he enfermado o lesionado, ella ha sido mi mentora y guía con relación a la actividad de dar clases; además, me ha brindado una linda amistad que atesoro y valoro mucho.

 .a-border.-padBgBottom.-padMdTop.-ContainerBlog#teacherBlog
  .-borderBottom

 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Mi preparación y experiencia como profesora
  .m-textContent__text
   p La vocación para enseñar corre por mis venas, mi mamá es profesora de matemáticas y física, mi papá siempre ha diseñado y dado cursos tanto en el área legal como Inmobiliaria, y mi abuelo era profesor Universitario en medicina veterinaria.
   p Ellos siempre me dejaron claro que el conocimiento y desarrollo no vale de mucho si no se comparte.  Y por experiencia propia, entendí que cuando tomas la responsabilidad de enseñar a otros es cuando el conocimiento se fija de manera más clara.  Así que siempre me ha gustado enseñar a otros lo que aprendo y de alguna manera lo he hecho.
   p Además de enseñar también disfruto mucho escribir sobre lo que estudio, hacer análisis y esquematizar la información o hacerla más digerible para otros, así que desde hace bastante tiempo uso mis redes sociales con este fin, he invertido una gran cantidad de horas haciendo videos tutoriales cortos y explicaciones sobre posturas, fundamentos, conceptos filosóficos y temas relacionados, que he publicado en mis cuentas como Yogaiskra.
   p Una de las dificultades que tienen muchas personas de habla hispana para poder avanzar en la práctica del Ashtanga Yoga, cuando no tienen un profesor cercano, es el manejo del inglés, la gran mayoría de los libros e información que se puede encontrar están en inglés, yo me he dado la tarea de traducir gran parte de esta información, al hacer mis explicaciones por mis redes sociales y blog personal.
  .m-textContent__img.-md
   img.a-blogText__img(src=linksUrl[1]+"assets/img/acerca_de/acerca_003.png")
  .m-textContent__text
   p Cuando mi dominio de la Primera Serie del Ashtanga Yoga fue estable, después de haberle dedicado unos 4 años de práctica ininterrumpida 6 días a la semana, un día mi profesora y la dueña de la sala de yoga Espíritu Libre (en donde practicábamos en aquel entonces), me invitaron a prepararme como profesora.
   p Así fue como comencé, primero asistía a mi profesora en sus clases  mientras ella me entrenaba en cómo enseñar el método y ajustar a los alumnos en cada una de las posturas de la Primera Serie, luego empecé a dar las suplencias, y más tarde empecé a dar mis propias clases, talleres y cursos puntuales.
   p Actualmente, mi actividad de enseñanza del Yoga se enfoca en ayudar a hacer posible que otros construyan su práctica de yoga personal regular de forma segura, sin tener que ir seguido a clases presenciales o con un profesor, yo pude lograrlo y les enseño cómo.
   p Dicto talleres, cursos, clases puntuales o continuas por períodos cortos, diseñadas para que las personas puedan aprender los fundamentos del método del Ashtanga Yoga y luego profundizar de forma progresiva a través de la auto práctica con el soporte de guías escritas, videos tutoriales y artículos relacionados con la filosofía del yoga, que comparto través de mi sitio web y redes sociales.
   p Debo decir que mi mayor aval como profesora me lo han dado mis años de estudios y de práctica disciplinada de forma ininterrumpida. He asistido a clases de forma periódica con mi profesora, realizado diferentes talleres y clases con profesores adentro y fuera del país. Sin embargo, todavía no he ido a India, a estudiar con Sharath R Jois, quien es el que autoriza y certifica profesores para enseñar Ashtanga Yoga según la tradición de su fundador K. Pattabhi Jois.
   p Con la finalidad de seguirme formando, asisto a clases en línea dictadas por el reconocido profesor internacional de Ashtanga Yoga Eddie Stern de New York, con él estoy profundizando en la Segunda Serie del Ashtanga Yoga y el estudio de los Yoga Sutras, con este profesor también hice en el 2019, el curso "Engineering Health: Introduction to Yoga and Physiology", con el aval de la Tandon School of Engineering de la Universidad de Nueva York.
   p Asimismo, con ánimos de darle mayor aval a mi actividad de enseñanza y ampliar mis conocimientos en el gran espectro que abarca el Yoga y su diferentes estilos y aproximaciones, me encuentro cursando un diplomado de 350 horas titulado "Yoga en Síntesis", con la Asociación Internacional de Yoga Yoghismo, coordinado y organizado aquí en Valencia, por una pareja de profesores y personas a las que admiro y tengo mucho aprecio.
  .m-textContent__img.-md
   img.a-blogText__img(src=linksUrl[1]+"assets/img/acerca_de/acerca_004.png")

 .a-border.-padBgBottom.-padMdTop.-ContainerBlog#parkBlog
  .-borderBottom

 .m-textContent.-ContainerBlog
  .m-textContent__title
   h2.a-problemTitle Yoga gratuito en la Plaza
  .m-textContent__text
   p A finales del año 2019 un conocido profesor de yoga de Valencia, por motivos de viaje dejaba de dar clases a un grupo de personas que practicaban con él en una plaza pública de la ciudad, la Plaza Dr. Fabian de Jesús Díaz, mejor conocida como la Plaza de Prebo.
   p Uno de los practicantes, una persona muy estimada por mí y por mi familia, me invitó a continuar con esas clases, al menos una vez a la semana. Estas clases se estaban dando de forma gratuita como un servicio comunitario.
   p Yo lo pensé, lo conversé con mi grupo familiar, y decidí dar esa clase a la semana. La asistencia a las primeras clases era de 8 a 10 personas, después de varias semanas la asistencia estaba entre 30 y 50 personas.
   p En estas clases, no solo hacíamos posturas, siempre dedicaba un rato a la parte filosófica y a explicar un poco de esa ética individual y social que promueve el Yoga.
   p En este grupo hay personas de todas las edades, diferentes condiciones económicas, sociales y de salud; pero de alguna manera la energía de la clase los une e iguala, y sus cambios no solo se evidencian en las posturas, también en el ánimo y el trato.
  .m-textContent__img.-md
   img.a-blogText__img(src=linksUrl[1]+"assets/img/acerca_de/acerca_005.png")
  .m-textContent__text
   p Condiciones de salud notorias en algunos alumnos mejoran en apenas una hora y media de clase. Debo decir, que la transformación que pude ver en los alumnos que conforman este grupo y la energía de agradecimiento que ellos proyectan en mí, me han demostrado claramente el empuje social que implica poder enseñar Yoga gratuitamente.
   p Pienso que en estos momentos de tanta dificultad que estamos viviendo en mi país, Venezuela, y en el mundo con la pandemia del COVID-19, se deben hacer mayores esfuerzo para que estas técnicas sean conocidas por la mayor cantidad de personas posibles, sin que el distanciamiento y el aspecto económico sea un impedimento.
   p A partir de esta premisa el Ciclo de 4 Cursos con el nombre de "Respira, Posa y Enfoca", en los que esquematicé la Primera Serie del Ashtanga Yoga, diseñados en primera instancia para ser dictado de forma presencial, los estoy llevando al formato en línea, y me dispongo publicarlos a la brevedad posible en este sitio web soportado por las donaciones de aquellos que puedan y quieran aportar.
   p Quienes no puedan donar pero deseen hacer estos cursos, con solo escribirme un email #[a(href="mailto:info@yogaiskra.com") info@yogaiskra.com] se les otorgará el respectivo acceso.
