include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head_curse.pug
  meta(name="og:title", content="#{titles[6]} - #{titles[0]}")
  meta(name="og:description", content="Cursos de yoga online soportados por donaciones y becas por Yogaiskra")
  meta(name="og:url", content="https://yogaiskra.com/curso")
  meta(name="og:type", content="website")

  meta(name="googlebot-news", content="noindex")
  meta(name="title", content="#{titles[6]} - #{titles[0]}")
  meta(name="description", content="Cursos de yoga online soportados por donaciones y becas por Yogaiskra")
  title #{titles[6]} - #{titles[0]}

 body.-menuSticky

  // menu
  include ../base/_header.pug

  // hero
  include ../components/cursos/_hero.pug

  //- line
  .o-line
   include ../components/cursos/_problem.pug
   include ../components/cursos/_cards.pug
   include ../components/cursos/_line.pug
   // Fund
   include ../components/index/_fund.pug

  // footer
  include ../base/_footer.pug