nav.o-nav.sticky
 .o-navFixedContainer
  .o-nav__content
   .a-brand
    a(href=linksUrl[1]): img.a-brand__Img(src=linksUrl[1]+logoResponsive[1], alt="Logo de yogaiskra")

   .a-burguer#burger
    img.a-burguer__menu(src=linksUrl[1]+"assets/img/icons/menu.svg", alt="Icono de menu")

   .m-itemContent
    .a-burguerOut#burgerOut
     img.a-burguerOut__menu(src=linksUrl[1]+"assets/img/icons/cancel.svg", alt="Icono de cerrar el menu")
    .a-brandMobile
     a(href=linksUrl[1]): img.a-brandMobile__Img(src=linksUrl[1]+logoResponsive[1], alt="Logo de yogaiskra")
    ul.m-itemContent__list
     li: a.a-itemLink(href=linksUrl[1]+linksInternos[0]) #{titles[1]}
     li: a.a-itemLink(href=linksUrl[1]+"#podcastTalk") #{titles[2]}
     li: a.a-itemLink(href=linksUrl[1]+linksInternos[4]) #{titles[3]}
     li: a.a-itemLink(href=linksExternos[2], target="_blank") #{titles[8]}
     li: a.a-itemLink(href=linksExternos[0], target="_blank") #{titles[5]}
     li: a.a-itemLink(href=linksUrl[1]+linksInternos[1]) #{titles[4]}
    .a-button.a-noMargin
     a.-outlinePrimary(href=linksUrl[1]+linksCursos[0]) #{titles[12]}

   .m-CallToAction
    .a-button
     a.-outlinePrimary(href=linksUrl[1]+linksCursos[0]) #{titles[12]}
    a.a-iconFund(href=linksUrl[1]+linksInternos[1]): img.a-iconFund__img(src=linksUrl[1]+"assets/img/icons/donar.png", alt="Icono de donar")