nav.o-nav
 .o-navFixedContainer
  .o-nav__content
   .a-brand
    a(href=linksUrl[1]): img.a-brand__Img(src=linksUrl[1]+logoResponsive[1], alt="")

   .a-burguer
    img.a-burguer__menu(src=linksUrl[1]+"assets/img/icons/Menu.svg", alt="")

   ul.m-itemContent
    li: a(href=linksUrl[1]) Acerca de
    li: a(href=linksUrl[1]) ¿Por qué?
    li: a(href=linksUrl[1]) Curso de Ashtanga
   
   .m-CallToAction
    a.a-button.-outlinePrimary(href=linksUrl[1]) Donar
