head
 // Required meta tags
 meta(charset="UTF-8")
 meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
 meta(http-equiv="X-UA-Compatible", content="ie=edge")
 meta(name="og:type", content="Website")
 meta(name="og:site_name", content=titles[0])
 meta(name="og:locale", content="es_ES")
 meta(name="og:image", content="https://yogaiskra.com/assets/img/banner/banner@3x.png")
 meta(name="og:image:alt", content="Logo de Yogaiskra con fondo rosado claro rodeado de elementos gráficos de flores")
 meta(name="og:image:type", content="image/png")
 meta(name="og:image:secure_url", content="https://yogaiskra.com/assets/img/banner/banner@3x.png")
 meta(name="apple-mobile-web-app-title", content="Yogaiskra")
 meta(name="og:author", content="Yogaiskra")
 meta(name="author", content="Yogaiskra")
 meta(name="theme-color", content="#481380")
 
 // Meta twitter
 meta(name="twitter:card", content="summary")
 meta(name="twitter:site", content="@yogaiskra")
 meta(name="twitter:creator", content="Yogaiskra")
 meta(name="twitter:domain", content="https://yogaiskra.com")

 // metas de fav
 link(rel="shortcut icon", href=linksUrl[1]+logoResponsive[0], type="image/x-icon")
 link(rel="apple-touch-icon", href=linksUrl[1]+logoResponsive[0], type="image/png", sizes="180x180")
 link(rel="icon", href=linksUrl[1]+logoResponsive[0], type="image/png", sizes="196x196")
 
 // Bootstrap CSS
 link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
 link(rel="stylesheet", href=linksUrl[1]+"assets/css/all.css?"+cssV)
