section.o-moreInfo#podcastTalk
 .o-moreInfo__content.-ContainerUniversal
  .m-moreInfo
   h1.a-moreInfo.a-explainTitle Podcast #[.-colorChange.-dInline Corriente Despierta], expande tu conciencia
   .a-explainContent
    p Pasa un rato ameno escuchando, en un lenguaje sencillo y actual, acerca de enseñanzas y técnicas para el desarrollo humano contenidas dentro del Yoga y otras líneas filosóficas y de pensamiento. También te hablaré sobre maestros, profesores, autores, libros y otros recursos que tenemos hoy día a nuestro alcance para conectarnos con la Corriente de Energía Despierta que en todos los tiempos ha estado disponible para aquellos que buscan desarrollar la conciencia, las verdades fundamentales y/o la comunión con el espíritu.
    p #[b Encuentra y escucha el podcast Corriente Despierta en las siguientes plataformas:]
 
   .m-iconsImgPodcast
    a(href=linksPodcast[1], target="_blank"): img.a-iconsPodcast.a-noMargin(src=linksUrl[1]+"assets/img/icons/pocketcast.png", alt="Pocket Podcast")
    a(href=linksUrl[1], target="_blank"): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/google_podcast.png", alt="Google Podcast")
    a(href=linksPodcast[2], target="_blank"): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/anchor.png", alt="Anchor")
    a(href=linksPodcast[0], target="_blank"): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/spotify.png", alt="Spotify para Podcast")
    a(href=linksUrl[1], target="_blank"): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/apple_music.png", alt="Apple Podcast")

  .m-infoImgLinks
   .m-infoImgLinks__podcast
    img.a-imgPodcast(src=linksUrl[1]+"assets/img/home/cover-podcast.png", alt="")
    //-.a-rectangle1
     .a-rectangle2
   .m-linksButtons
    .a-button.a-noMargin
     a.-outlinePrimary.-padModifier(href=linksUrl[1]) Reproducir
    .a-button
     a.-outlinePrimary.-padModifier(href=linksUrl[1]) Ver en youtube