section.o-moreInfo#podcastTalk
 .o-moreInfo__content.-ContainerUniversal
  .m-moreInfo
   h1.a-moreInfo.a-explainTitle Podcast Corriente Despierta, hablo de la filosofía del yoga
   .a-explainContent
    p Pasa un rato ameno escuchando acerca de enseñanzas y técnicas para el desarrollo humano contenidas dentro del Yoga y otras líneas filosóficas y de pensamiento, en un lenguaje sencillo y actual. También te hablaremos sobre maestros, profesores, autores, libros y otros recursos que tenemos hoy día a nuestro alcance para conectarnos con la Corriente de Energía Despierta que en todos los tiempos ha estado disponible para aquellos que buscan desarrollar la conciencia, las verdades fundamentales y/o la comunión con el espíritu.
    p #[b Encuentra y escucha el podcast en las siguientes plataformas:]
 
   .m-iconsImgPodcast
    a(href=linksUrl[1]): img.a-iconsPodcast.a-noMargin(src=linksUrl[1]+"assets/img/icons/pocketcast.png", alt="")
    a(href=linksUrl[1]): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/google_podcast.png", alt="")
    a(href=linksUrl[1]): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/spotify.png", alt="")
    a(href=linksUrl[1]): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/apple_music.png", alt="")
    a(href=linksUrl[1]): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/soundcloud.png", alt="")

  .m-infoImgLinks
   .m-infoImgLinks__podcast
    img.a-imgPodcast(src=linksUrl[1]+"assets/img/cover_podcast_example.png", alt="")
    .a-rectangle1
    .a-rectangle2
   .m-linksButtons
    .a-button.a-noMargin
     a.-outlinePrimary.-padModifier(href=linksUrl[1]) Reproducir
    .a-button
     a.-outlinePrimary.-padModifier(href=linksUrl[1]) Ver en youtube
    a(href=linksUrl[1]): span.a-facebook
    a(href=linksUrl[1]): span.a-instagram