section.o-moreInfo
 .o-moreInfo__content.-ContainerUniversal
  .m-moreInfo
   h1.a-moreInfo.a-explainTitle Podcast  tortor nisi, id rutrum lectus ultricies non.
   .a-explainContent
    p Donec sed urna nec arcu volutpat faucibus. Ut fringilla neque eget ipsum fermentum dignissim. Aliquam erat volutpat. Quisque facilisis massa at sapien rutrum consequat fermentum eget lectus. Nullam efficitur aliquam tortor tristique commodo. Mauris rhoncus elit ligula, ut sollicitudin ex blandit sit amet. Ut viverra ipsum sed nisl rutrum, sed tincidunt diam convallis.
    p #[b Lo puede escuchar en cualquier plataforma de podcast como:]
 
   .m-iconsImgPodcast
    a(href=linksUrl[1]): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/pocketcast.png", alt="")
    a(href=linksUrl[1]): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/google_podcast.png", alt="")
    a(href=linksUrl[1]): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/spotify.png", alt="")
    a(href=linksUrl[1]): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/apple_music.png", alt="")
    a(href=linksUrl[1]): img.a-iconsPodcast(src=linksUrl[1]+"assets/img/icons/soundcloud.png", alt="")

  .m-infoImgLinks
   .m-infoImgLinks__podcast
    img.a-imgPodcast(src=linksUrl[1]+"assets/img/cover_podcast_example.png", alt="")
    .a-rectangle1
    .a-rectangle2
   .m-linksButtons
    .a-button.a-noMargin
     a.-outlinePrimary.-padModifier(href=linksUrl[1]) Reproducir
    .a-button
     a.-outlinePrimary.-padModifier(href=linksUrl[1]) Ver en youtube
    a(href=linksUrl[1]): span.a-facebook
    a(href=linksUrl[1]): span.a-instagram