section.o-problemStory.-padCoolTopBottom
 .o-problemStory__contentRight.-ContainerUniversal
  .m-problemImg
   img(src=linksUrl[1]+"assets/img/yogaiskra_marcotree.png", alt="")
  .m-problemContent
   .a-problemIcon
    img(src=linksUrl[1]+"assets/img/icons/talk_wierd.svg", alt="")
   h2.a-problemTitle Compartiendo enseñanzas y técnicas
   .a-problemSubtitle
    span.a-problemSubtitle__text Yoga, filosofías, enseñanzas y técnicas
    .a-problemSubtitle__line.-right
   .a-problemContent
    p Si hay algo en que todos los seres humanos coincidimos, es en nuestro anhelo por experimentar bienestar y no sufrir. A través del estudio y la práctica del yoga, y de otros conocimientos y técnicas ancestrales y modernas; he comprobado que somos capaces de desarrollar un modo de vida que genera bienestar continuo, disminuye el sufrimiento y hace que influyamos positivamente en la sociedad.
    p Llevo tiempo compartiendo y enseñando, estos conocimientos y quiero seguir haciéndolo.  El distanciamiento social impuesto por la situación actual, me impulsó a crear este sitio web. Creo en el gran #[b.-bold Poder del dar], puedes apoyarnos a mí y al equipo de personas que participan en el desarrollo de este sitio web y sus canales relacionados a través de las siguientes opciones.
    .a-button.-right
     a.-fillSecondary(href=linksUrl[1]+linksInternos[1]) Cómo apoyar

 .a-border.-padCoolTopBottom.-ContainerUniversal
  .-borderBottom
     
 .o-problemStory__contentLeft.-ContainerUniversal
  .m-explainImg
   img(src="https://superhuman.com/build/f4ea923047f0c5a2c85168b0e8a4cbae.header-laptop.png", alt="")
  .m-explainContent
   .a-explainIcon
    img(src=linksUrl[1]+"assets/img/icons/play_video_wierd.svg", alt="")
   h2.a-explainTitle Curso en línea: Iniciación al Ashtanga Yoga
   .a-explainSubtitle
    .a-explainSubtitle__line
    span.a-explainSubtitle__text Nuestro primer proyecto soportado por donaciones
   .a-explainContent
    p Con el ánimo de seguir enseñando durante estos tiempos de distanciamiento social y de ayudar a que muchas personas se inicien o sigan profundizando en la practiva de la Primera Serie del método del Ashtanga Yoga, me he planteado junto con mi equipo llevar al formato en línea 4 cursos que diseñe y que daba de forma presencial con el nombre Ciclo de Cursos "Respira, Posa y Enfoca"
    p El objetivo de los 4 cursos, es que el participante adquiera el conocimiento teórico-práctico mínimo indispensable para construir de forma progresiva, coherente y segura, una práctica de posturas de yoga personal. Estos curso en línea serán producidos a partir de donaciones 1x1, ya nos encontramos produciendo el primer Curso: #[b.-bold  Iniciación en el Ashtanga Yoga.]
    .a-button.-right
     a.-fillSecondary(href=linksUrl[1]+linksInternos[4]) Ir a ver