section.o-problemStory.-padCoolTopBottom
 .o-problemStory__contentRight.-ContainerUniversal
  .m-problemImg
   img(src=linksUrl[1]+"assets/img/home/marco_seis.png", alt="")
  .m-problemContent
   .a-problemIcon
    img(src=linksUrl[1]+"assets/img/icons/talk_wierd.svg", alt="")
   h2.a-problemTitle Compartiendo enseñanzas y técnicas
   .a-problemSubtitle
    span.a-problemSubtitle__text Yoga, filosofía y métodos
    .a-problemSubtitle__line.-right
   .a-problemContent
    p Todos los seres humanos anhelamos experimentar bienestar y no sufrir. He comprobado que el estudio y la práctica consistentes del yoga y otras técnicas, generan bienestar continuo, disminuyen el sufrimiento y aumentan nuestro interés por ayudar a otros.
    p Quiero compartir y enseñar a muchas más personas, sin que el distanciamiento físico o el factor económico sea un impedimento, y lo haré a través de este sitio web y sus canales relacionados. Todo este contenido será soportado por las donaciones y el apoyo de quienes quieran y puedan aportar.
    .a-button.-right.-top
     a.-fillSecondary(href=linksUrl[1]+linksInternos[1]) Cómo apoyar

 .a-border.-padMdTopBottom.-ContainerUniversal
  .-borderBottom
     
 .o-problemStory__contentLeft.-ContainerUniversal
  .m-explainImg
   img(src=linksUrl[1]+"assets/img/course/laptop_mb@0.5x.png", alt="")
  .m-explainContent
   .a-explainIcon
    img(src=linksUrl[1]+"assets/img/icons/play_video.svg", alt="")
   h2.a-explainTitle Cursos en línea de Ashtanga Yoga
   .a-explainSubtitle
    .a-explainSubtitle__line
    span.a-explainSubtitle__text Cursos soportados por donaciones
   .a-explainContent
    p Para quienes deseen iniciarse o profundizar en la práctica de la Primera Serie del método del Ashtanga Yoga, estoy llevando mi Ciclo de 4 Cursos titulado "Respira, Posa y Enfoca" al formato en línea. 
    p Estos cursos proporcionan todo el conocimiento teórico y práctico indispensable para construir de forma progresiva, coherente y segura, una práctica de posturas de yoga personal. Ya está disponible el Primer Curso: #[b.-bold  Iniciación en el Ashtanga Yoga.]
    .a-button.-right.-top
     a.-fillSecondary(href=linksUrl[1]+linksInternos[4]) Ir a ver