include lib/_var.pug
include lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include base/_head.pug
  meta(name="og:title", content="#{titles[1]} - #{titles[0]}")
  meta(name="og:description", content="¿Quién es yogaiskra? Mi experiencia con el yoga y preparación como profesora")
  meta(name="og:url", content="https://yogaiskra.com/acerca-de")
  meta(name="og:type", content="article")
  meta(name="article:publisher", content="https://www.facebook.com/yogaiskra/")
  meta(name="article:published_time", content="2020-07-16T13:12:54+00:00")

  meta(name="title", content="#{titles[1]} - #{titles[0]}")
  meta(name="description", content="¿Quién es yogaiskra? Mi experiencia con el yoga y preparación como profesora")
  title #{titles[1]} - #{titles[0]}
 body.-menuSticky

  // menu
  include base/_header.pug

  // hero
  include components/acerca_de/_hero.pug

  // Bookmarks
  include components/acerca_de/_cards.pug

  // Icon-Button
  .o-buttonBookmark
   a(href="#upBookmark"): .m-buttonBookmark
    img.a-iconBookmark(src=linksUrl[1]+"assets/img/icons/bookmark.svg")

  // text
  include components/acerca_de/_text.pug

  // Fund
  include components/index/_fund.pug

  // footer
  include base/_footer.pug