section.o-metaInfo
 .m-metaInfo__div.-box.-bgLight
  //-.m-metaInfo__icon
   img(src=linksUrl[1]+"assets/img/icons/yoga_symbol_wierd.svg", alt="Icono del símbolo OM")
  .m-metaInfo__text.-spaceParagraph
   h3 Avisos importantes
   p.a-metadataCourse__text Los 7 videos de este curso están disponibles ahora mismo.
   p.a-metadataCourse__text Puedes escribirnos a #[b#contact.-colorPrimary.-line.-pointer.-bold info@yogaiskra.com] para cualquier inquietud.

 .m-metaInfo__div.-box.-bgLight
  .m-metaInfo__text
   h3 Recursos para descargar
   p En cualquier momento durante este curso podrás descarga e imprimir la siguiente guía con toda la información tratada en los videos del curso.
   ul.m-linksList.m-listContent.-arrow
    li: a.-download(href=linksUrl[1]+"assets/download/rpe1/rpe_curso1_guiaPDF_rev3.pdf", download="guia entera del curso") Guía entera del curso PDF
   p Las cartillas de posturas que te dejo a continuación te servirán de guía cuando practiques la secuencia de iniciación que te enseño en este curso.  Podrás bajarlas a tu teléfono y mantenerlas en tu galerías de fotos, para consultarlas en cualquier momento.
   ul.m-linksList.m-listContent.-arrow
    li: a.-download(href=linksUrl[1]+"assets/download/rpe1/afiche_surya_namaskar.jpg", download="cartilla de saludos al sol") Cartilla de Saludos al Sol
    li: a.-download(href=linksUrl[1]+"assets/download/rpe1/afiche_posturas_de pie_hasta_parvotanasana.jpg", download="cartilla de posturas de pie hasta parsvottanasana") Cartilla de Posturas de Pie hasta Parsvottanasana
    li: a.-download(href=linksUrl[1]+"assets/download/rpe1/afiche_posturas_finales.jpg", download="cartilla de secuencia final") Cartilla de Secuencia Final
