section.o-explainDonate.-padBgBottom
 .m-donateContent.-ContainerUniversal.-padSmTop
  .m-donateContent__method
   h2.a-explainTitle
    i.a-patreon
    | Método 1: Patreon
   .a-explainSubtitle
    .a-explainSubtitle__line
    span.a-explainSubtitle__text Nullam accumsan lectus risus, ut finibus libero rhoncus ac
   .a-explainContent
    p Hemos creado un canal en la plataforma Patreon en donde, por medio de una pequeña donación mensual, tendrás acceso en primicia a todos los Cursos en linea que vaya publicando, de mis Podcast y enlaces directos para mis artículos.  También habrán videos y directos que serán exclusivo para los miembros de este canal.
    p En esta plataforma crearemos una comunidad mas cercana en la que podremos interactuar de varias maneras, me podrán dejar mensajes e ideas para la producción de clases, cursos y podcast, y otras sorpresas. Accede con el siguiente link:
   .a-explainButton
    .a-button.a-noMargin
     a.-fillSecondary(href=linksExternos[2], target="_blank") Ir a patreon
      span.a-arrowRight
  .m-donateContent__help.-counterContainer
   ol.m-listContent.-counter
    li.a-donateItem  Cuando entres a la página inicial del canal, observarás tres (3) niveles de patrocinio:
    .m-textContent__img.a-paddingMd
     img.a-blogText__img(src=linksUrl[1]+"assets/img/donate/patreon_screenshot.png", alt="")
    li.a-donateItem Si no tienes cuenta en Patreon deberás crear una, lo cual es muy sencillo,, solo sigue las instrucciones que el mismo sitio web te indique
    li.a-donateItem Podrás realizar tu donación con tarjeta de crédito o débito que acepte cargos en dólares


 .m-donateContent.-ContainerUniversal.-padMdTop
  .m-donateContent__method
   h2.a-explainTitle
    i.a-paypal
    | Método 2: Paypal
   .a-explainSubtitle
    .a-explainSubtitle__line
    span.a-explainSubtitle__text Nullam accumsan lectus risus, ut finibus libero rhoncus ac
   .a-explainContent
    p Nos puedes enviar cualquier cantidad que tengas a bien, por una sola vez o mensualmente, a través de PayPal, este método te permite usar tanto tus fondos de PayPal como tu tarjeta de crédito.
    p Con tu donación a través de PayPal te daremos acceso al Curso en línea que te interese realizar. Accede con el siguiente link:
   .a-explainButton
    .a-button.a-noMargin
     a.-fillSecondary(href=linksExternos[1], target="_blank") Ir a paypal
      span.a-arrowRight
  .m-donateContent__help.-counterContainer
   ol.m-listContent.-counter
    li.a-donateItem  Cuando hagas clic en el enlace de PayPal, te aparecera la siguiente pantalla:
    .m-textContent__img.a-paddingMd
     img.a-blogText__img(src=linksUrl[1]+"assets/img/donate/paypalme_yogaiskra.png", alt="")
    li.a-donateItem Si no tienes cuenta en PayPal deberás crear una, lo cual es muy sencillo, solo procura tener tu tarjeta de crédito a la mano
    li.a-donateItem Escribe en el concepto de pago tu nombre completo, el Curso en línea al que deseas tener acceso y el correo electrónico a donde quieres que te dejemos nuestra nota de agradecimiento con el usuario y la clave para que puedas acceder a tu curso.


 .m-donateContent.-ContainerUniversal.-padMdTop
  .m-donateContent__method
   h2.a-explainTitle
    i.a-paypal
    | Método 3: Otros métodos de pago
   .a-explainSubtitle
    .a-explainSubtitle__line
    span.a-explainSubtitle__text Nullam accumsan lectus risus, ut finibus libero rhoncus ac
   .a-explainContent
    p Si te interesa donar a través de #[b.-bold Zelle, Airtm o Pago Móvil], escríbenos a info@yogaiskra.com para enviarte los datos respectivos.
    p Con tu donación a través de alguno de estos métodos te daremos acceso al Cursos en línea que te interese realizar.
    p Cuando nos escribas para notificar tu donación indícanos tu nombre completo, el curso en línea al que deseas tener acceso y el correo electrónico a donde quieres que te dejemos nuestra nota de agradecimiento, con el usuario y la clave para que puedas acceder a tu curso.

  .m-donateContent__help.-counterContainer
   ol.m-listContent.-counter
    li.a-donateItem  Cuando hagas clic en el enlace de PayPal, te aparecera la siguiente pantalla:
    .m-textContent__img.a-paddingMd
     img.a-blogText__img(src=linksUrl[1]+"assets/img/donate/paypalme_yogaiskra.png", alt="")


 .m-donateContent.-ContainerUniversal.-padMdTop
  .m-donateContent__method
   h2.a-explainTitle
    i.a-paypal
    | Método 4: Anuncia tu producto o servicio en nuestro Podcast
   .a-explainContent
    p Podemos promocionar un producto o un servicio en cada episodio de mi Podcast (siempre que no atenten contra seres vivos y el medio ambiente, desde nuestra perspectiva). Para evaluar tu producto/servicio y hacerte una propuesta, escríbeme a #[a(href="mailto:yoga.iskra@gmail.com") info@yogaiskra.com]

  .m-donateContent__help.-counterContainer
   ol.m-listContent.-counter
    li.a-donateItem  Cuando hagas clic en el enlace de PayPal, te aparecera la siguiente pantalla:
    .m-textContent__img.a-paddingMd
     img.a-blogText__img(src=linksUrl[1]+"assets/img/donate/paypalme_yogaiskra.png", alt="")


 .m-donateContent.-ContainerUniversal.-padMdTop
  .m-donateContent__method
   h2.a-explainTitle
    i.a-paypal
    | Método 5: Comparte con otros
   .a-explainSubtitle
    .a-explainSubtitle__line
    span.a-explainSubtitle__text Nullam accumsan lectus risus, ut finibus libero rhoncus ac
   .a-explainContent
    p Si no puedes donar, y te gusta el contenido que estamos produciendo,  no te preocupes, estaremos muy agradecidos si compartes con otros mi sitio web y canales relacionados.  A continuación los enlaces que puedes compartir:
    p Y recuerda, si quieres hacer uno de nuestros cursos, pero no puedes donar en estos momentos, no te preocupes, escríbeme a #[a(href="mailto:yoga.iskra@gmail.com") info@yogaiskra.com] cuéntame cómo piensas que te puede ayudar el curso que te interesa realizar o por qué quieres hacerlo y te daremos acceso bajo la modalidad de Beca.

  .m-donateContent__help
   ol.m-listContent.-arrow
    li.a-donateItem #[a(href=linksExternos[5], target="_blank") Yogaiskra.com]
    li.a-donateItem #[a(href=linksExternos[6], target="_blank") Podcast Corriente Despierta por Yogaiskra]
    li.a-donateItem #[a(href=linksExternos[3], target="_blank") Instagram.com/yogaiskra]
    li.a-donateItem #[a(href=linksExternos[2], target="_blank") Patreon.com/yogaiskra]
    li.a-donateItem #[a(href=linksExternos[4], target="_blank")  YouTube.com/yogaiskra]
