section.o-blogText.-padCoolTopBottom
 .m-textContent
  .m-textContent__title
   h2.a-problemTitle Te dejamos varias alternativas para apoyarnos:


  .m-textContent__title.-padSmTop
   h2.a-problemTitle
    i.a-patreon 
    | Patreon
  .m-textContent__text
   p Hemos creado un canal en la plataforma Patreon en donde, por medio de una módica donación mensual, tendrás acceso en primicia a todos los Cursos en línea que vaya lanzando, a mis Podcast y artículos.  También habrán videos y directos que serán exclusivos para los miembros de este canal.
   p En esta plataforma crearemos una comunidad más cercana en la que podremos interactuar de varias maneras, me podrán dejar mensajes e ideas para la producción de clases, cursos y podcast, y muchas otras sorpresas.
   .a-explainButton
    .a-button.a-noMargin
     a.-fillSecondary(href=linksExternos[2], target="_blank") Ir a patreon

  .m-textContent__title.-padSmTop
   h2.a-problemTitle
    i.a-paypal
    |Paypal
  .m-textContent__text
   p Nos puedes enviar cualquier cantidad que tengas a bien, por una sola vez o mensualmente, a través de PayPal, este método te permite usar tanto tus fondos de PayPal como tu tarjeta de crédito.
   p Cuando nos escribas para notificar tu donación indícanos tu nombre completo, el curso en línea al que deseas tener acceso y el correo electrónico a donde quieres que te dejemos nuestra nota de agradecimiento, con el usuario y la clave para que puedas acceder a tu curso.
   p Con tu donación a través de PayPal te daremos acceso al Curso en línea que te interese realizar.
   .a-explainButton
    .a-button.a-noMargin
     a.-fillSecondary(href=linksExternos[1], target="_blank") Ir a paypal

  .m-textContent__title.-padSmTop
   h2.a-problemTitle Otros métodos para donar
  .m-textContent__text
   p Si te interesa donar a través de #[b.-bold Zelle, Airtm o Pago Móvil], escríbenos a #[a(href="mailto:info@yogaiskra.com") info@yogaiskra.com] para enviarte los datos respectivos.
   ol.m-listContent.-arrow
    li.a-donateItem: a(href=linksExternos[8], target="_blank")
     i.a-zelle
     | Zelle
    li.a-donateItem: a(href=linksExternos[7], target="_blank") 
     i.a-airtm
     | Airtm
    li.a-donateItem: a(href=linksExternos[9], target="_blank")
     i.a-pagoMobil
     | Pago Móvil
   p Con tu donación a través de alguno de estos métodos te daremos acceso al Curso en línea que te interese realizar.
   p Cuando nos escribas para notificar tu donación indícanos tu nombre completo, el curso en línea al que deseas tener acceso y el correo electrónico a donde quieres que te dejemos nuestra nota de agradecimiento, con el usuario y la clave para que puedas acceder a tu curso.

  .m-textContent__title.-padSmTop
   h2.a-problemTitle Anuncia tu producto o servicio en nuestro Podcast
  .m-textContent__text
   p Podemos promocionar un producto o un servicio en cada episodio de mi Podcast (siempre que no atente contra los seres vivos y el medio ambiente, desde nuestra perspectiva). Para evaluar tu producto o servicio y hacerte una propuesta, escríbeme a #[a(href="mailto:info@yogaiskra.com") info@yogaiskra.com]

  .m-textContent__title.-padSmTop
   h2.a-problemTitle Comparte con otros
  .m-textContent__text
   p Si no puedes donar, y te gusta el contenido que estamos produciendo,  no te preocupes, estaremos muy agradecidos si compartes con otros mi sitio web y canales relacionados.  A continuación los enlaces que puedes compartir:
   ol.m-listContent.-arrow
    li.a-donateItem #[a(href=linksExternos[5], target="_blank") Yogaiskra.com]
    li.a-donateItem #[a(href=linksExternos[6], target="_blank") Podcast Corriente Despierta por Yogaiskra]
    li.a-donateItem #[a(href=linksExternos[3], target="_blank") Instagram.com/yogaiskra]
    li.a-donateItem #[a(href=linksExternos[2], target="_blank") Patreon.com/yogaiskra]
    li.a-donateItem #[a(href=linksExternos[4], target="_blank")  YouTube.com/yogaiskra]
   p Y recuerda, si quieres hacer uno de nuestros cursos, pero no puedes donar en estos momentos, no te preocupes, escríbeme a #[a(href="mailto:info@yogaiskra.com") info@yogaiskra.com] cuéntame cómo piensas que te puede ayudar el curso que te interesa realizar o por qué quieres hacerlo y te daremos acceso bajo la modalidad de Beca.
