section.o-blogText.-padCoolTopBottom
 .m-textContent
  .m-textContent__title
   h2.a-problemTitle Te dejamos varias alternativas para apoyarnos:


  .m-textContent__title.-padSmTop
   h2.a-problemTitle
    i.a-patreon 
    | Patreon
  .m-textContent__text
   p Estudia conmigo en mi canal de Patreon! Este será nuestro Centro de Estudios virtual, en donde estarán disponibles todos los Cursos en línea que vayamos produciendo, habrá clases especiales, acceso directos a mis podcasts, artículos, audios de meditaciones y a los lives (transmisiones en vivo), que serán exclusivos para los miembros de este canal.
   p Al apoyarme por esta vía con tu donación, mientras disfrutas sin límite de todo el contenido que estará en Patreon, contribuirás a que sigamos creando y compartiendo más y mejor contenido gratuito por esta página web, en mi Podcast y mis otros canales asociados, pudiendo llegar así a muchas más personas.
   .a-explainButton
    .a-button.a-noMargin
     a.-fillSecondary(href=linksExternos[2], target="_blank") Ir a patreon

  .m-textContent__title.-padSmTop
   h2.a-problemTitle
    i.a-paypal
    |Paypal
  .m-textContent__text
   p Este método te permite usar tanto tus fondos de PayPal como tu tarjeta de crédito.
   p Con una donación a través de PayPal de 5 $ o más (la cantidad que tu decidas) te daremos acceso a una de las siguientes opciones:
   .m-textContent__list
    ol.m-listContent.-bullet
     li.a-donateItem Cursos en línea de esta página web por 30 días 
     li.a-donateItem Clases Online en vivo 1 vez a la semana por un mes. Con acceso ilimitado a la grabación de cada clase por 30 días. (para continuar debe repetir un pago mínimo de 5 $ mensualmente)
   p Nos deberás escribir a #[b#contact2.-colorPrimary.-line.-pointer.-bold info@yogaiskra.com] para notificarnos sobre tu donación, por favor indícanos también tu nombre completo y la opción de arriba en la que deseas participar.
   .a-explainButton
    .a-button.a-noMargin
     a.-fillSecondary(href=linksExternos[1], target="_blank") Ir a paypal

  .m-textContent__title.-padSmTop
   h2.a-problemTitle Otros métodos para donar
  .m-textContent__text
   p Si te interesa donar a través de #[b.-bold Zelle, Airtm o Pago Móvil], escríbenos a #[b#contact1.-colorPrimary.-line.-pointer.-bold info@yogaiskra.com] para enviarte los datos respectivos.
   ol.m-listContent.-arrow
    li.a-donateItem.-donate
     p.-bold #[i.a-zelle] Zelle
    li.a-donateItem.-donate: a.-colorPrimary.-line(href=linksExternos[7], target="_blank") 
     i.a-airtm
     | Airtm
    li.a-donateItem.-donate
     p.-bold #[i.a-pagoMobil] Pago Móvil
   p Con una donación a través de PayPal de 5 $ o más (la cantidad que tu decidas) te daremos acceso a una de las siguientes opciones:
   .m-textContent__list
    ol.m-listContent.-bullet
     li.a-donateItem Cursos en línea de esta página web por 30 días 
     li.a-donateItem Clases Online en vivo 1 vez a la semana por un mes. Con acceso ilimitado a la grabación de cada clase por 30 días. (para continuar debe repetir un pago mínimo de 5 $ mensualmente)
   p Nos deberás escribir a #[b#contact2.-colorPrimary.-line.-pointer.-bold info@yogaiskra.com] para notificarnos sobre tu donación, por favor indícanos también tu nombre completo y la opción de arriba en la que deseas participar.

  .m-textContent__title.-padSmTop
   h2.a-problemTitle Anuncia tu Marca con Yogaiskra
  .m-textContent__text
   p Podemos promocionar tu marca personal, la marca de tu empresa o de tus productos (siempre que no atente contra los seres vivos y el medio ambiente, desde nuestra perspectiva), en uno o vario episodios de mi Podcast e historias de Instagram, a cambio de tu donación al fondo de  nuestro #[b.-bold Programa para la Difusión del Yoga.]
   p Para evaluar tu producto o servicio y hacerte una propuesta, escríbeme a #[b#contact3.-colorPrimary.-line.-pointer.-bold info@yogaiskra.com]

  .m-textContent__title.-padSmTop
   h2.a-problemTitle Comparte con otros
  .m-textContent__text
   p ¿Te gusta el contenido que estamos produciendo? Estaremos muy agradecidos si compartes con otros mi sitio web y canales asociados.  A continuación los enlaces que puedes compartir:
   ol.m-listContent.-arrow
    li.a-donateItem.-donate #[a.-colorPrimary.-line(href=linksExternos[5], target="_blank") Yogaiskra.com]
    li.a-donateItem.-donate #[a.-colorPrimary.-line(href=linksPodcast[3], target="_blank") Podcast Corriente Despierta por Yogaiskra]
    li.a-donateItem.-donate #[a.-colorPrimary.-line(href=linksExternos[3], target="_blank") Instagram.com/yogaiskra]
    li.a-donateItem.-donate #[a.-colorPrimary.-line(href=linksExternos[2], target="_blank") Patreon.com/yogaiskra]
    li.a-donateItem.-donate #[a.-colorPrimary.-line(href=linksExternos[4], target="_blank")  YouTube.com/yogaiskra]

  .m-textContent__title.-padSmTop
   h2.a-problemTitle ¿Quieres estudiar con Yogaiskra pero no puedes donar ahora?
  .m-textContent__text
   p Si quieres hacer uno de los Cursos en línea disponibles en este sitio web o asistir a Clases Online 1 vez por semana, pero no puedes donar en este momento, es factible. Escríbeme a #[b#contact4.-colorPrimary.-line.-pointer.-bold info@yogaiskra.com] solicitándonos participar en nuestro #[b.-bold Programa para la Difusión del Yoga]  y te enviaremos toda la información correspondiente.