section.o-blogText.-padCoolTopBottom
 .m-textContent
  .m-textContent__title
   h2.a-problemTitle Te dejamos varias alternativas para apoyarnos:


  .m-textContent__title.-padSmTop
   h2.a-problemTitle
    i.a-patreon 
    | Patreon
  .m-textContent__text
   p Estudia conmigo en mi canal de Patreon! Este será nuestro Centro de Estudios virtual, en donde estarán disponibles todos los Cursos en línea que vayamos produciendo, habrá clases especiales, acceso directos a mis podcasts, artículos, audios de meditaciones y a los lives (transmisiones en vivo), que serán exclusivos para los miembros de este canal.
   p Al apoyarme por esta vía con tu donación, mientras disfrutas sin límite de todo el contenido que estará en Patreon, contribuirás a que sigamos creando y compartiendo más y mejor contenido gratuito por esta página web, en mi Podcast y mis otros canales asociados, pudiendo llegar así a muchas más personas.
   .a-explainButton
    .a-button.a-noMargin
     a.-fillSecondary(href=linksExternos[2], target="_blank") Ir a patreon

  .m-textContent__title.-padSmTop
   h2.a-problemTitle
    i.a-paypal
    |Paypal
  .m-textContent__text
   p Puedes apoyarnos enviando cualquier cantidad que tengas a bien a través de PayPal, este método te permite usar tanto tus fondos de PayPal como tu tarjeta de crédito.
   p Con tu donación a través de alguno de estos métodos te daremos acceso a uno de los Cursos en línea de esta página web por 30 días.
   p Nos deberás escribir a #[a.-colorPrimary.-line(href="mailto:info@yogaiskra.com") info@yogaiskra.com] para notificarnos tu donación e indicarnos tu nombre completo, el nombre del curso en línea que te interesa y el correo electrónico a donde quieres que te dejemos nuestra nota de agradecimiento, con el usuario y la clave para que puedas acceder a la sección de Cursos en línea de esta página web.
   .a-explainButton
    .a-button.a-noMargin
     a.-fillSecondary(href=linksExternos[1], target="_blank") Ir a paypal

  .m-textContent__title.-padSmTop
   h2.a-problemTitle Otros métodos para donar
  .m-textContent__text
   p Si te interesa donar a través de #[b.-bold Zelle, Airtm o Pago Móvil], escríbenos a #[a.-colorPrimary.-line(href="mailto:info@yogaiskra.com") info@yogaiskra.com] para enviarte los datos respectivos.
   ol.m-listContent.-arrow
    li.a-donateItem.-donate
     p.-bold #[i.a-zelle] Zelle
    li.a-donateItem.-donate: a.-colorPrimary.-line(href=linksExternos[7], target="_blank") 
     i.a-airtm
     | Airtm
    li.a-donateItem.-donate
     p.-bold #[i.a-pagoMobil] Pago Móvil
   p Con tu donación a través de alguno de estos métodos te daremos acceso a uno de los Cursos en línea de esta página web por 30 días.
   p Nos deberás escribir a #[a.-colorPrimary.-line(href="mailto:info@yogaiskra.com") info@yogaiskra.com] para notificarnos tu donación e indicarnos tu nombre completo, el nombre del curso en línea que te interesa y el correo electrónico a donde quieres que te dejemos nuestra nota de agradecimiento, con el usuario y la clave para que puedas acceder a la sección de Cursos en línea de esta página web.

  .m-textContent__title.-padSmTop
   h2.a-problemTitle Anunciamos tu Marca a cambio de tu aporte a nuestro fondo de Becas
  .m-textContent__text
   p Podemos promocionar tu marca personal, de tu empresa o de tu productos (siempre que no atente contra los seres vivos y el medio ambiente, desde nuestra perspectiva), en uno o varios episodios de mi Podcast e historias de Instagram a cambio de tu donación al fondo de Becas que administramos para que personas que quieren realizar los Cursos y Clases en línea de nuestro canal de Patreon que no tienen los medios para pagar la membresía correspondiente, puedan hacerlo.
   p Para evaluar tu producto o servicio y hacerte una propuesta, escríbeme a #[a.-colorPrimary.-line(href="mailto:info@yogaiskra.com") info@yogaiskra.com]

  .m-textContent__title.-padSmTop
   h2.a-problemTitle Comparte con otros
  .m-textContent__text
   p Si no puedes donar, y te gusta el contenido que estamos produciendo, no te preocupes, estaremos muy agradecidos si compartes con otros mi sitio web y canales asociados. A continuación los enlaces que puedes compartir:
   ol.m-listContent.-arrow
    li.a-donateItem.-donate #[a.-colorPrimary.-line(href=linksExternos[5], target="_blank") Yogaiskra.com]
    li.a-donateItem.-donate #[a.-colorPrimary.-line(href=linksPodcast[3], target="_blank") Podcast Corriente Despierta por Yogaiskra]
    li.a-donateItem.-donate #[a.-colorPrimary.-line(href=linksExternos[3], target="_blank") Instagram.com/yogaiskra]
    li.a-donateItem.-donate #[a.-colorPrimary.-line(href=linksExternos[2], target="_blank") Patreon.com/yogaiskra]
    li.a-donateItem.-donate #[a.-colorPrimary.-line(href=linksExternos[4], target="_blank")  YouTube.com/yogaiskra]

  .m-textContent__title.-padSmTop
   h2.a-problemTitle Becas para estudiar conmigo
  .m-textContent__text
   p Si quieres estudiar conmigo en Patreon o hacer uno de los Cursos en línea disponibles en esta página web, pero #[b.-bold no puedes donar,] no te preocupes, escríbeme a #[a.-colorPrimary.-line(href="mailto:info@yogaiskra.com") info@yogaiskra.com] solicitándonos participar en nuestro sistema de Becas, para enviarte toda la información correspondiente.